#Logs
Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

web_modules/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

#env
.env